// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$navbar: #69A2B0;
$footercolor: #394053;
$sidebarcolor: #412234; // rgba(65,34,52,1)
