// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$navbar: rgba(240,240,240,1);
$footercolor: white; // rgba(29,53,87,1)
$sidebarcolor: #c7e7f2 ; // rgb(199,231,242)
