<h2><b>Bem-vinda(o) ao Jenner!</b></h2>

<p>Olá <%= @user.email %>,</p>

<p>Bem-vinda(o) ao Jenner! Estamos animados em tê-la(o) conosco!</p>

<p>Aproveite a nossa plataforma!</p>
<p><b>Equipe Jenner</b></p>
