<%= link_to user_google_oauth2_omniauth_authorize_path do%>

      <div id="customBtn" class="customGPlusSignIn">
        <span class="icon"></span>
        <span class="buttonText">Entrar com Google</span>
      </div>

<% end %>
