<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made by
    <span>
      <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/thierryfro" />
      <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/nannazinha" />
      <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/mimipacheco" />
      <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/joaopthompson" />
    </span> at Jenner <i class="far fa-copyright"></i>
  </div>
</div>
