<div class="container">
  <div class="col-12 col-lg-12">
    <div class="vaccine-list-header">
      <h1>LISTA DE VACINAS</h1>
      <h4 class="text-center">Clique na vacina para obter mais informações</h4>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-3">
        <% index = 0 %>
        <% vaccine_index.each do |vaccine| %>
          <li class="list-unstyled">
            <button class="vaccine-list-btn btn btn-primary" href="#Submenu-<%= index %>" data-toggle="collapse" aria-expanded="false">
              <i class="fas fa-syringe"></i>
                <span><%=vaccine[0] %></span>
            </button>
            <ul class="collapse list-unstyled mt-2" id="Submenu-<%= index %>">
              <li><%= vaccine[1] %></li>
            </ul>
          </li>
          <% index += 1 %>
        <% end %>
              <%# raise %>
      </div>
    </div>
  </div>
</div>
