<div class="w-100 d-flex custom-margin-top-home">

  <%= image_tag "home.jpg", class: "d-flex w-100 home home-img"%>

  <div class="divi">

      <h1>O cartão de vacinas da sua família</h1>
      <p>Gestão de vacinas fácil e eficiente</p>

    <br>

    <%= link_to 'Cadastre-se', new_user_registration_path, class: "home-button btn btn-primary" %>
  </div>
</div>
