<%= image_tag "home.jpg", class: "d-flex w-100 home"%>

<div class="divi">
  <%= image_tag "logo.png", id: "logo" %>
  <span class="font-text navbar-brand">
    <h4>Jenner</h4>
  </span>

    <hr><h1>Aqui tem uma div</h1><hr>

  <br>
  <br>
  <hr>

  <%= link_to 'Cadastre-se', new_user_registration_path, class: "btn btn-primary" %>
</div>
