.flash {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  width: 100%;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-pos {
  position: relative;
}

.flash-danger {
  border: 2px solid $danger;
  // margin-top: 5px;
}

.alert-x {
  animation-duration: 50s;
  animation-delay: 50s;
  animation-iteration-count: 3;
}
