.btn {
  @media screen and (max-width: 320px) {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  @include float-right;
  width: 150px;
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.btn-full {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.btn-box {
  width: 100%;
  padding: 8px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}
