.card-member {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 0 24px;
  transition: all .15s ease;
}

.card-member:hover {
  text-decoration: none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.card-secondary {
  background-color: white;
  color: grey;
  border-color: white;
  box-shadow: 0 2px 14px rgba(126,87,88,0.1), 0 3px 6px rgba(0,0,0,0.08);
  }

.card-secondary:hover {
  box-shadow: 0 6px 20px rgba(126,87,88,0.1), 0 6px 10px rgba(0,0,0,0.08);
  color: lightgrey;
}

.vac-card {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.vac-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin: 10px;
}

.vac-card h2 {
  font-size: 16px;
  font-weight: bold;
  color: gray;
}

.vac-card h3, h5 {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  // margin-bottom: 0;
  margin: 8px;
  color:gray;
}

.vac-card .vac-card-infos {
  padding: 16px;
}
