.member-cont {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.5s;
  border: 1px solid $azul;
  border-radius: 3px;
  padding: 25px;
}

.member-cont .card-member {
  position: relative;
  width: 230px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.member-cont:hover .card-member {
  filter: blur(5px);
  transform: scale(.8);
}

.member-cont .card-member:hover {
  filter: blur(0px);
  transform: scale(1);
}

.member-cont .card-member .card-content {
  text-align: center;
  z-index: 2;
  padding: 0 20px;
  transition: 0.5s;
  border-radius: 50px;
}

.member-cont .card-member:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.5s;
  border-radius: 10px;
}

.member-cont .card-member:hover:before {
  transform: scaleY(1.15);
  box-shadow: 0 5px 15px rgba(128,128,128,0.3);
}

.member-cont .card-member .card-content h3 {
  font-size: 2em;
}

.member-cont a {
  text-decoration: none;
}
.card-member:hover {
  text-decoration: none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.card-secondary {
  background-color: white;
  color: grey;
  border-color: white;
  box-shadow: 0 2px 14px rgba(126,87,88,0.1), 0 3px 6px rgba(0,0,0,0.08);
  }

.card-secondary:hover {
  box-shadow: 0 6px 20px rgba(126,87,88,0.1), 0 6px 10px rgba(0,0,0,0.08);
  color: lightgrey;
}


// MEMBER PROFILE
.vac-card {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position:relative;
}

.vac-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin: 10px;
  border-radius: 100px;
}

.vac-card h2 {
  font-size: 16px;
  font-weight: bold;
  color: gray;
}

.vac-card h3, h5 {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  // margin-bottom: 0;
  margin: 8px;
  color:gray;
}

.vac-card .vac-card-infos {
  padding: 16px;
}
// END MEMBER PROFILE

.edit-delete-card-show {
  position:absolute;
  bottom:0;
  right:0;
  margin-right: 15px;
}


.notif{
  position: absolute;
  right: 41px;
  background-color: red;
  color: white;
  width:40px;
  height: 40px;
  border-radius: 50%;
  font-size: 10px;


  h3 {
        margin-bottom: 0;
    margin-top: 5px;
    font-family: "Open Sans";
    font-weight: bolder;



  }

}
