.vaccines-taken {
  img {
  width: 130px;
  border-radius: 50%;
  padding: 10px;
  background-color: #C5D86D;
  }
}

.vaccines-expired {
  img {
  width: 130px;
  border-radius: 50%;
  padding: 10px;
  background-color: #FFB5C4;
  }
}

.vaccines-next {
  img {
  width: 130px;
  border-radius: 50%;
  padding: 10px;
  background-color: yellow;
  }
}
