.form-edit {
  padding: 10px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

// .btn {
//   width: 100%;
//   padding: 10px;
//   font-weight: bold;
// }

.vaccines {
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 15px;
  background-color: #C7E7F2;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  text-align: center;
}
