.vaccines-tomadas {
  img {
  width: 125px;
  border-radius: 50%;
  padding: 10px;
  background-color: #C5D86D;
  margin-bottom: 15px;
  }
}

.vaccines-pendentes {
  img {
  width: 125px;
  border-radius: 50%;
  padding: 10px;
  background-color: #FFB5C4;
  margin-bottom: 15px;
  }
}

