.vaccines-taken {
  img {
    width: 125px;
    border-radius: 50%;
    border: 11px solid #C5D86D;
    margin-bottom: 15px;
  }
  p{
    text-align: center;
    position: absolute;
    top: 37%;
    left: 34px;
    opacity: 0;
  }
}

.vaccines-expired {
  img {
    width: 125px;
    border-radius: 50%;
    padding: 10px;
    background-color: #FFB5C4;
    margin-bottom: 15px;
  }
}

.vaccines-next {
  img {
    width: 125px;
    border-radius: 50%;
    padding: 10px;
    background-color: #FFd86d;
    margin-bottom: 15px;
  }}


.date-vaccine:hover {
  border: 11px solid #C5D86D;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  background-color: $azul;
  margin-bottom: 15px;
  img {
    opacity: 0;
  }
  p{
    opacity: 1;
    color: rgb(76, 148, 191);
  }
}

