@font-face{
  font-family: 'Umba';
  src: url('umbasoft-bold.otf');
}

.navbar-lewagon {
  justify-content: space-between;
  background: #fff;
  position: fixed;
  border: bottom;
  box-shadow: 0 0 5px 0 rgba(100,100,100,0.4);
  z-index: 1;
  width: 100vw;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar #logo {
  width: 150px;
}

.font-text h4{
  font-family: 'Umba';
  margin-bottom: 0;
}
