.navbar-lewagon {
  justify-content: space-between;
  background: #69A2B0;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar #logo {
  width: 75px;
}
