.pdf {
  border-style: solid;
  border-width: 1px;
  border-color: $azul;
  padding: 25px;
  border-radius: 20px;

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
    text-decoration: underline;
  }

  p {
    font-size: 16px;
  }
}

.pdf-logo img {
  height: 50px;
}
