<div class="container">
   <div>
       <p>Seu agendamento foi confirmado!</p>
   </div>
   <span id="typed"></span>
    <br>
    <br>
    <p> Seu agendamento foi confirmado!</p>
    <br>
    <p>Em caso de dúvidas, entre em contato com asodkaoskda!</p>

    <%= link_to "Ver todas as transações", transactions_path, class: "btn btn-outline-success" %>
</div>
