<div class="container">
  <h2>Escolha uma data e horário:</h2>
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :appointment_date, label: "Escolha uma data:",as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Go", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
