
<div class="container">
  <div class="col-12 col-lg-8 offset-lg-2">
    <h1>Sobre o Jenner</h1>
    <p class="team-card">Somos um cartão de vacinas digital que visa facilitar a gestão de vacinas próprias e de dependentes, além de possibilitar o agendamento de vacinas na rede particular</p>

    <div class="team-card text-center">
      <h4><b>NOSSO TIME</b></h4>
      <div class="row justify-content-between">
        <div class="team-list col-12 col-lg-3"><img class="team-list-img" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/thierryfro" /><p>Thierry Rodrigues</p></div>
        <div class="team-list col-12 col-lg-3"><img class="team-list-img" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/nannazinha" /><p>Natália Torres</p></div>
        <div class="team-list col-12 col-lg-3"><img class="team-list-img" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/mimipacheco" /><p>Mirian Alves Pacheco</p></div>
        <div class="team-list col-12 col-lg-3"><img class="team-list-img" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/joaopthompson" /><p>João Pedro Thompson</p></div>
      </div>
    </div>
  </div>
</div>
