<!DOCTYPE html>
<html>
<head>
<title>PDF</title>
  <%= wicked_pdf_stylesheet_link_tag 'application', media: "all" %>
  <meta charset="UTF-8">
</head>
<body>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
